################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/AspNetMvcDatabaseDemo/.vs/AspNetMvcDatabaseDemo
/DotNet/AspNetMvcDatabaseDemo/AspNetMvcDatabaseDemo/bin/Debug/net5.0
/DotNet/AspNetMvcDatabaseDemo/AspNetMvcDatabaseDemo/obj
/DotNet/AspNetMvcDemo/.vs/AspNetMvcDemo
/DotNet/AspNetMvcDemo/AspNetMvcDemo/obj
/DotNet/AspNetWebDemo/.vs/AspNetWebDemo
/DotNet/AspNetWebDemo/AspNetWebDemo/bin/Debug/net5.0
/DotNet/AspNetWebDemo/AspNetWebDemo/obj
/DotNet/CilDemo/.vs/CilDemo/v16
/DotNet/CilDemo/CilDemo/bin/Debug
/DotNet/CilDemo/CilDemo/obj
/DotNet/HelloWorld/.vscode
/DotNet/HelloWorld/bin/Debug/net5.0
/DotNet/HelloWorld/obj
/DotNet/JsonTesti/.vscode
/DotNet/JsonTesti/bin/Debug/net5.0
/DotNet/JsonTesti/obj
/DotNet/KeskiarvonLaskentaJaLokitus/.vs/KeskiarvonLaskentaJaLokitus
/DotNet/KeskiarvonLaskentaJaLokitus/KeskiarvonLaskentaJaLokitus/bin/Debug/net5.0
/DotNet/KeskiarvonLaskentaJaLokitus/KeskiarvonLaskentaJaLokitus/obj
/DotNet/Merkkijonot/.vs/Merkkijonot
/DotNet/Merkkijonot/Merkkijonot/bin/Debug/net5.0
/DotNet/Merkkijonot/Merkkijonot/obj
/DotNet/UseitaProjekteja/.vs/UseitaProjekteja
/DotNet/UseitaProjekteja/LaskentaKirjasto/obj
/DotNet/UseitaProjekteja/UseitaProjekteja/bin/Debug/net5.0
/DotNet/UseitaProjekteja/UseitaProjekteja/obj
/DotNet/UutisotsikotYle/.vs/UutisotsikotYle
/DotNet/UutisotsikotYle/UutisotsikotYle/bin/Debug/net5.0
/DotNet/UutisotsikotYle/UutisotsikotYle/obj
